<!doctype html>
<html>

<!--
    <head>
        <title>{{title}}</title>
        <title>{{blog}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
-->

    <h1>
        <a href="/">Main Blog Page</a>
    </h1>

    <h2>
        <a href="/blog">Add Blog Entry</a>
    </h2>


    <body>

            {% for frog in loop_queries %}
            <li><a href="/display/{{frog.id}}">{{frog.title}}</a> {{frog.blog}}
                
            </li>
            {% endfor %}

        

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
                
            {% endfor %}
            </ul>
        {% endwith %}

       

 <!--   
        {% block content %}
        <ul>
            {% for title in titles %}
            <li>{{title}}
                <form method="POST" style="display:inline-block;">
                        
                </form>
            </li>
            {% endfor %}
            
        </ul>
        {% endblock %}

    -->
    
    </body>
</html>