<!doctype html>
<html>

    <body>

        

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
                
            {% endfor %}
            </ul>
        {% endwith %}

       

    
        {% block content %}
        <ul>
            {% for title in titles %}
            <li>{{title}}
                <form method="POST" style="display:inline-block;">
                        
                </form>
            </li>
            {% endfor %}
            
        </ul>
        {% endblock %}
    
    </body>
</html>