{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method='post' action="/blog">
        <label>
            Title for your new blog:
            <input type="text" name='title' />
        </label>
        
    </form>

    <hr />



<form method="post" action="/blog">
    <label> 
        Your new blog
        <input type="text" name="blog"/>
        <input type="submit" value="Add Entry"/>
    </label>
</form>


<ul>
        {% for title in titles %}
        <li>{{title}}
            <form method="POST" style="display:inline-block;">
                    
            </form>
        </li>
        {% endfor %}
    </ul>


    

{% endblock %}
