{% extends "base.html" %}

{% block content %}


    <h1>Add a Blog Entry</h1>
    <form method='post' action="/blog">
        <label>
            Title for your new blog:
            <input type="text" name='title' />
        </label>
        
    

    <hr />

    
    
        <label>
            Your blog:
            <input type="text" name='blog' />
        </label>
        <input type="submit" value="Add blog"/> 
        
    </form>

   
  
    
        {% for frog in loop_queries %}
        <li><a href="/display/{{frog.id}}">{{frog.title}}</a> {{frog.blog}}
            
        </li>
        {% endfor %}
        
    </ul>

    


    

{% endblock %}